a{
    color: antiquewhite;
    text-decoration: none;
}
#inp1{
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#inp2{
    background-color: aqua;
}
#inp3{
    background-color:red;
}
#inp4{
    background-color: brown;
}
.grp1{
    background-color: aqua;
    border:2px dotted rgb(243, 95, 95);
    margin:5% 30% 2% 20%;
    padding: 10px 30px 50px 20px;
    
}